body {
    font-family: 'helvetica neue', times, sans-serif;
  	color: black;

  	font-weight: 400;
   /*background-color: #ffd480;*/
   background-image: url("concrete_seamless.png");
}
  
#Natespic {
	width: 250px;
	border: 25px solid #000A80;
}
#sportspics {
	width: 340px;
	height: 256px;
	border: 10px solid green;
}
#hometownpics {
	width: 300px;
	border: 25px solid green;
}

#restaurants {
	width: 340px;
	height: 200px;
	}

#funfacts {
	border: 4px solid black;
	}